{% load static %}
<!DOCTYPE html>
<html>
<head>
    <style>
        body {
          font-family: 'Arial', sans-serif;
          background-color: lightcyan;
          color: #333;
          margin: 20px;
          
        }
        h2 {
          
          text-align: center;
          background-color: lightseagreen;
          color: #fff;
          padding: 20px;
        }
        h3 {
          font-size: 20px;
          text-align: center;
          
          color: midnightblue;
          
        }
        p {
          font-size: 18px;
          font-weight: normal;
          font-family: 'Calibri', sans-serif;
          line-height: 1.5;
          margin-bottom: 10px;
        }
        p.t {
          font-weight: bold;
          font-family: 'Calibri', sans-serif;
          line-height: 1.5;
          margin-bottom: 10px;
        }
        img {
          max-width: 80%;
          height: auto;
          border-radius: 8px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          align: center;
        }
        a {
          color: #28a745;
          text-decoration: none;
          font-weight: bold;
        }
        a:hover {
          text-decoration: underline;
        }
      </style>
</head>

<body>
<h2>BOX PLOT</h2>
<h3>Introduction </h3>  
<p>
  In descriptive statistics, a box plot or boxplot is a method for graphically demonstrating the locality, spread and skewness groups of numerical data through their quartiles.
</p>

<p>
  In a box plot, there can be lines(which are called whiskers) extending from the box indicating variability outside the upper and lower quartiles, thus, 
  the plot is also called the box-and-whisker plot. Outliers that differ significantly from the rest of the dataset may be plotted as individual points beyond
  the whiskers on the box-plot. Box plots are non-parametric, they display variation in samples of a statistical population without making any assumptions of the underlying 
  statistical distribution(though Tukey's boxplot assumes symmetry for the whiskers and normality for their length). The spacings in each subsection of the box-plot indicate 
  the degree of dispersion(spread) and skewness of the data, which are usually described using the five-number summary. In addition, the box-plot allows one to visually 
  estimate various L-estimators, notably the interquartile range, midhinge, range, mid-range, and trimean. Box plots can be drawn either horizontally or vertically. 
</p>

<h4>Elements of box plot</h4>
<p>
  A boxplot is a standardized way of displaying the dataset based on the five-number summary: the minimum, the maximum, the sample median, and the first and third quartiles.

    <b>Minimum (Q0 or 0th percentile)</b>: the lowest data point in the data set excluding any outliers
    <b>Maximum (Q4 or 100th percentile)</b>: the highest data point in the data set excluding any outliers
    <b>Median (Q2 or 50th percentile)</b>: the middle value in the data set
    <b>First quartile (Q1 or 25th percentile)</b>: also known as the lower quartile qn(0.25), it is the median of the lower half of the dataset.
    <b>Third quartile (Q3 or 75th percentile)</b>: also known as the upper quartile qn(0.75), it is the median of the upper half of the dataset.[7]

In addition to the minimum and maximum values used to construct a box-plot, another important element that can also be employed to obtain a box-plot is the interquartile range (IQR), as denoted below:

    Interquartile range (IQR) : the distance between the upper and lower quartiles

    IQR = Q3-Q1 =qn(0.75)-qn(0.25)

A box-plot usually includes two parts, a box and a set of whiskers as shown in the below figure. 
</p>

{% load static %} <img src="{% static "dj_app/media/box1.png" %}" alt="home" align="center" />   
<h3>Box</h3>
<p>
  The box is drawn from Q1 to Q3 with a horizontal line drawn inside it to denote the median. Some box plots include an additional character to represent the mean of the data.
</p>
    
<h3>Whisker</h3>
<p>The whiskers must end at an observed data point, but can be defined in various ways. In the most straightforward method, the boundary of the lower whisker is the minimum value 
  of the data set, and the boundary of the upper whisker is the maximum value of the data set. Because of this variability, it is appropriate to describe the convention that is 
  being used for the whiskers and outliers in the caption of the box-plot.

  Another popular choice for the boundaries of the whiskers is based on the 1.5 IQR value. From above the upper quartile (Q3), a distance of 1.5 times the IQR is measured out
  and a whisker is drawn up to the largest observed data point from the dataset that falls within this distance. Similarly, a distance of 1.5 times the IQR is measured out below the 
  lower quartile (Q1) and a whisker is drawn down to the lowest observed data point from the dataset that falls within this distance. Because the whiskers must end at an 
  observed data point, the whisker lengths can look unequal, even though 1.5 IQR is the same for both sides. All other observed data points outside the boundary of the whiskers 
  are plotted as outliers. The outliers can be plotted on the box-plot as a dot, a small circle, a star, etc. </p>

 

<br>
<h3>Example without outliers</h3>
<p>
  A series of hourly temperatures were measured throughout the day in degrees Fahrenheit. The recorded values are listed in order as follows 
  (°F): 57, 57, 57, 58, 63, 66, 66, 67, 67, 68, 69, 70, 70, 70, 70, 72, 73, 75, 75, 76, 76, 78, 79, 81.

  A box plot of the data set can be generated by first calculating five relevant values of this data set: minimum, maximum, median (Q2), first quartile (Q1), and third quartile (Q3).
  
  The minimum is the smallest number of the data set. In this case, the minimum recorded day temperature is 57 °F.
  
  The maximum is the largest number of the data set. In this case, the maximum recorded day temperature is 81 °F.
  
  The median is the "middle" number of the ordered data set. This means that there are exactly 50% of the elements is less than the median and 50% of the elements is greater than the median. The median of this ordered data set is 70 °F.
  
  The first quartile value (Q1 or 25th percentile) is the number that marks one quarter of the ordered data set. In other words, there are exactly 25% of the elements that are less than the first quartile and exactly 75% of the elements that are greater than it. The first quartile value can be easily determined by finding the "middle" number between the minimum and the median. For the hourly temperatures, the "middle" number found between 57 °F and 70 °F is 66 °F.
  
  The third quartile value (Q3 or 75th percentile) is the number that marks three quarters of the ordered data set. In other words, there are exactly 75% of the elements that are less than the third quartile and 25% of the elements that are greater than it. The third quartile value can be easily obtained by finding the "middle" number between the median and the maximum. For the hourly temperatures, the "middle" number between 70 °F and 81 °F is 75 °F.
  
  The interquartile range, or IQR, can be calculated by subtracting the first quartile value (Q1) from the third quartile value (Q3):
  
      IQR = Q3 − Q1 = 75 − 66 = 9°F.
  
  Hence, 1.5IQR = 1.5*9 = 13.5°F.
  
  1.5IQR above the third quartile is:
  
      Q3 + 1.5IQR = 75 + 13.5 = 88.5°F.
  
  1.5IQR below the first quartile is:
  
      Q1 − 1.5IQR = 66 − 13.5 = 52.5°F.
  
  The upper whisker boundary of the box-plot is the largest data value that is within 1.5IQR above the third quartile. Here, 1.5 IQR above the third quartile is 88.5°F and the
  maximum is 81°F. Therefore, the upper whisker is drawn at the value of the maximum, which is 81°F.
  
  Similarly, the lower whisker boundary of the box plot is the smallest data value that is within 1.5IQR below the first quartile. Here, 1.5IQR below the first quartile is 52.5°F 
  and the minimum is 57°F. Therefore, the lower whisker is drawn at the value of the minimum, which is 57°F. </p>    
    {% load static %} <img src="{% static "dj_app/media/box2.png" %}" alt="home" />
<br>
<h3>Example with outliers</h3>
<p>Above is an example without outliers. Here is a followup example for generating box-plot with outliers:

  The ordered set for the recorded temperatures is(°F): 52, 57, 57, 58, 63, 66, 66, 67, 67, 68, 69, 70, 70, 70, 70, 72, 73, 75, 75, 76, 76, 78, 79, 89.
  
  In this example, only the first and the last number are changed. The median, third quartile, and first quartile remain the same.
  
  In this case, the maximum value in this data set is 89°F, and 1.5IQR above the third quartile is 88.5 °F. The maximum is greater than 1.5IQR plus the third quartile, 
  so the maximum is an outlier. Therefore, the upper whisker is drawn at the greatest value smaller than 1.5 IQR above the third quartile, which is 79°F.
  
  Similarly, the minimum value in this data set is 52°F, and 1.5IQR below the first quartile is 52.5°F. The minimum is smaller than 1.5 IQR minus the first quartile, 
  so the minimum is also an outlier. Therefore, the lower whisker is drawn at the smallest value greater than 1.5 IQR below the first quartile, which is 57°F. </p>
  {% load static %} <img src="{% static "dj_app/media/box3.png" %}" alt="home" />
    
<br>


<p class="t">Back to <a href="/tasks">Home Page</a></p>
</body>
</html>